<div style="">
  <header style="position: sticky; top: 0px; z-index: 2;" class="bg-gray-100 text-gray-900 py-2 px-6">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 mr-2">
          <path d="m8 3 4 8 5-5 5 15H2L8 3z"></path>
        </svg>
        <span class="text-sm truncate text-gray-700 max-w-xs font-semibold">
          {{datosProyecto.nombre}}
        </span>
       
      </div>
      <div class="flex gap-1 " style="font-size: 10px;"> 
            <button (click)=" ejecutadorIA(3) " style="font-size: 11px;"
            class="text-sm inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3">
            <svg class="mr-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 5.25136V4.2487L0.463236 4.05702L7.71324 1.05702L8 0.938354L8.28676 1.05702L15.5368 4.05702L16 4.2487V5.25136L15.5368 5.44304L8.28676 8.44304L8 8.5617L7.71324 8.44304L0.463236 5.44304L0 5.25136ZM0 8.45825V6.83491L0.536764 7.05702L8 10.1453L15.4632 7.05702L16 6.83491V8.45825L8.28676 11.6499L8 11.7686L7.71324 11.6499L0 8.45825ZM0 11.7083V10.0849L0.536764 10.307L8 13.3953L15.4632 10.307L16 10.0849V11.7083L8.28676 14.8999L8 15.0186L7.71324 14.8999L0 11.7083ZM8 6.93835L2.71154 4.75003L8 2.5617L13.2885 4.75003L8 6.93835Z" fill="currentColor"></path></svg>
            Feedback Plantilla</button>
            <button (click)=" generateDiagram()" style="font-size: 11px;"
            class="text-sm inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3">
            <svg class="mr-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 5.25136V4.2487L0.463236 4.05702L7.71324 1.05702L8 0.938354L8.28676 1.05702L15.5368 4.05702L16 4.2487V5.25136L15.5368 5.44304L8.28676 8.44304L8 8.5617L7.71324 8.44304L0.463236 5.44304L0 5.25136ZM0 8.45825V6.83491L0.536764 7.05702L8 10.1453L15.4632 7.05702L16 6.83491V8.45825L8.28676 11.6499L8 11.7686L7.71324 11.6499L0 8.45825ZM0 11.7083V10.0849L0.536764 10.307L8 13.3953L15.4632 10.307L16 10.0849V11.7083L8.28676 14.8999L8 15.0186L7.71324 14.8999L0 11.7083ZM8 6.93835L2.71154 4.75003L8 2.5617L13.2885 4.75003L8 6.93835Z" fill="currentColor"></path></svg>
            Flujo de trabajo </button>
            <button (click)=" ejecutadorIA(4)" style="font-size: 11px;"
            class="text-sm inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3">
            <svg class="mr-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 5.25136V4.2487L0.463236 4.05702L7.71324 1.05702L8 0.938354L8.28676 1.05702L15.5368 4.05702L16 4.2487V5.25136L15.5368 5.44304L8.28676 8.44304L8 8.5617L7.71324 8.44304L0.463236 5.44304L0 5.25136ZM0 8.45825V6.83491L0.536764 7.05702L8 10.1453L15.4632 7.05702L16 6.83491V8.45825L8.28676 11.6499L8 11.7686L7.71324 11.6499L0 8.45825ZM0 11.7083V10.0849L0.536764 10.307L8 13.3953L15.4632 10.307L16 10.0849V11.7083L8.28676 14.8999L8 15.0186L7.71324 14.8999L0 11.7083ZM8 6.93835L2.71154 4.75003L8 2.5617L13.2885 4.75003L8 6.93835Z" fill="currentColor"></path></svg>
            Alternativas </button>
            <button (click)=" fuenteConocimiento()" style="font-size: 11px;"
            class="text-sm inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3">
            <svg class="mr-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 5.25136V4.2487L0.463236 4.05702L7.71324 1.05702L8 0.938354L8.28676 1.05702L15.5368 4.05702L16 4.2487V5.25136L15.5368 5.44304L8.28676 8.44304L8 8.5617L7.71324 8.44304L0.463236 5.44304L0 5.25136ZM0 8.45825V6.83491L0.536764 7.05702L8 10.1453L15.4632 7.05702L16 6.83491V8.45825L8.28676 11.6499L8 11.7686L7.71324 11.6499L0 8.45825ZM0 11.7083V10.0849L0.536764 10.307L8 13.3953L15.4632 10.307L16 10.0849V11.7083L8.28676 14.8999L8 15.0186L7.71324 14.8999L0 11.7083ZM8 6.93835L2.71154 4.75003L8 2.5617L13.2885 4.75003L8 6.93835Z" fill="currentColor"></path></svg>
            Fuente de conocimiento rápido </button>
            <button (click)=" ejecutadorIA(2) " style="font-size: 11px;"
            class="text-sm inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3">
            <svg class="mr-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 5.25136V4.2487L0.463236 4.05702L7.71324 1.05702L8 0.938354L8.28676 1.05702L15.5368 4.05702L16 4.2487V5.25136L15.5368 5.44304L8.28676 8.44304L8 8.5617L7.71324 8.44304L0.463236 5.44304L0 5.25136ZM0 8.45825V6.83491L0.536764 7.05702L8 10.1453L15.4632 7.05702L16 6.83491V8.45825L8.28676 11.6499L8 11.7686L7.71324 11.6499L0 8.45825ZM0 11.7083V10.0849L0.536764 10.307L8 13.3953L15.4632 10.307L16 10.0849V11.7083L8.28676 14.8999L8 15.0186L7.71324 14.8999L0 11.7083ZM8 6.93835L2.71154 4.75003L8 2.5617L13.2885 4.75003L8 6.93835Z" fill="currentColor"></path></svg>
            Feedback rápido </button>
            <button (click)=" ejecutadorIA(1)" style="font-size: 11px;"
            class="text-sm inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3">
            <svg class="m-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path d="M2.5 0.5V0H3.5V0.5C3.5 1.60457 4.39543 2.5 5.5 2.5H6V3V3.5H5.5C4.39543 3.5 3.5 4.39543 3.5 5.5V6H3H2.5V5.5C2.5 4.39543 1.60457 3.5 0.5 3.5H0V3V2.5H0.5C1.60457 2.5 2.5 1.60457 2.5 0.5Z" fill="currentColor"></path>
              <path d="M14.5 4.5V5H13.5V4.5C13.5 3.94772 13.0523 3.5 12.5 3.5H12V3V2.5H12.5C13.0523 2.5 13.5 2.05228 13.5 1.5V1H14H14.5V1.5C14.5 2.05228 14.9477 2.5 15.5 2.5H16V3V3.5H15.5C14.9477 3.5 14.5 3.94772 14.5 4.5Z" fill="currentColor"></path>
              <path d="M8.40706 4.92939L8.5 4H9.5L9.59294 4.92939C9.82973 7.29734 11.7027 9.17027 14.0706 9.40706L15 9.5V10.5L14.0706 10.5929C11.7027 10.8297 9.82973 12.7027 9.59294 15.0706L9.5 16H8.5L8.40706 15.0706C8.17027 12.7027 6.29734 10.8297 3.92939 10.5929L3 10.5V9.5L3.92939 9.40706C6.29734 9.17027 8.17027 7.29734 8.40706 4.92939Z" fill="currentColor"></path></svg>
            Buscar referencias </button>
            <div class="relative inline-block text-left">
              <button (click)="toggleDropdown()" class="inline-flex 
              justify-center w-full px-4 py-2 text-sm font-medium 
              text-gray-900  rounded-md hover:bg-gray-400 focus:outline-none
               focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                <svg data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 4C7.17157 4 6.5 3.32843 6.5 2.5C6.5 1.67157 7.17157 1 8 1C8.82843 1 9.5 1.67157 9.5 2.5C9.5 3.32843 8.82843 4 8 4ZM8 9.5C7.17157 9.5 6.5 8.82843 6.5 8C6.5 7.17157 7.17157 6.5 8 6.5C8.82843 6.5 9.5 7.17157 9.5 8C9.5 8.82843 8.82843 9.5 8 9.5ZM6.5 13.5C6.5 14.3284 7.17157 15 8 15C8.82843 15 9.5 14.3284 9.5 13.5C9.5 12.6716 8.82843 12 8 12C7.17157 12 6.5 12.6716 6.5 13.5Z" fill="currentColor"></path></svg>
              </button>
              <div *ngIf="isOpen" class="absolute right-0 z-10 mt-2 w-56 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none">
                <div class="py-1">
                  <a  (click)="guardarContenido()" class="text-gray-700 flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900">
                    <svg class="mr-2" data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 4.72094V13.5C13.5 14.0523 13.0523 14.5 12.5 14.5H11.5V11C11.5 10.4477 11.0523 10 10.5 10H5.5C4.94772 10 4.5 10.4477 4.5 11V14.5H3.5C2.94772 14.5 2.5 14.0523 2.5 13.5V1.5H5V3.25V4H6.5V3.25V1.5H9.47383L13.5 4.72094ZM6 14.5H10V11.5H6V14.5ZM4.5 16H3.5C2.11929 16 1 14.8807 1 13.5V1.5V0H2.5H9.64922C9.87629 0 10.0966 0.0772807 10.2739 0.219131L14.6247 3.69976C14.8619 3.88953 15 4.17684 15 4.48062V13.5C15 14.8807 13.8807 16 12.5 16H11.5H10H6H4.5Z" fill="currentColor"></path></svg>
                      Guardar documento
                  </a>
              
                  <a  (click)="downloadLatexPdf()" class="text-gray-700 flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900">
                    <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3"></path>
                    </svg>
                    Descargar PDF Latex
                  </a>
                  <a  (click)="downloadLatex()" class="text-gray-700 flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900">
                    <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3"></path>
                    </svg>
                    Descargar archivo .tex
                  </a>
                  <a  (click)="downloadPdfNormal()" class="text-gray-700 flex items-center px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900">
                    <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3"></path>
                    </svg>
                    Descargar Word
                  </a>
                </div>
              </div>
            </div>
            
      </div>

    </div>
  </header>

<div *ngIf="this.fuenteOpen "  class="grid grid-cols-1 md:grid-cols-2 gap-2 max-w-6xl mx-auto py-12  px-1 py-0 md:px-3 lg:py-2 md:py-12">
    <div  class="overflow-x-auto snap-x container p-6 ">
      <div class="flex  snap-x" >
        <a   *ngFor="let documento of listdocumentoFuente " 
        
        class="snap-start flex-shrink-0 w-full md:w-2/2 lg:w-2/4 m-2" >
          <div   style="background-color: rgb(246, 248, 248);" 
          class=" flex bg-background rounded-lg overflow-hidden shadow-lg relative p-2">
            <div class="p-4">
              <h3 class="text-sm font-bold mb-2">{{ documento.nombre }}</h3>
              <p  style="max-width: 200px;" class="truncate max-w-xs text-sm  text-muted-foreground ">
                {{ documento.contenido }}
              </p>
              <label class="text-sm  text-gray-500">Obtener ideas: </label>
              <div  style="margin-top: 20px ; margin-bottom: 20px;" class="flex">
               
                <button (click)=" cargarArgumentoFuente(documento) " 
                style="font-size: 11px;"
                class="text-sm inline-flex items-center bg-amber-500  
               justify-center whitespace-nowrap text-sm 
               font-medium ring-offset-background transition-colors
               focus-visible:outline-none focus-visible:ring-2 
               focus-visible:ring-ring focus-visible:ring-offset-2
               disabled:pointer-events-none disabled:opacity-50 
               border border-input bg-background hover:bg-accent
               hover:text-accent-foreground h-9 rounded-md px-3 text-white"> 
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="w-5 mr-2 h-5 text-primary">
                  <path
                    d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5">
                  </path>
                  <path d="M9 18h6"></path>
                  <path d="M10 22h4"></path>
                </svg> Ideas! </button>
              </div>
              
            </div>
           
          </div>
        </a>
   
    </div>
  </div>
  <div style="height: 200px; max-height: 200px; overflow-y: auto;" class="grid gap-4 ">
     <div class="p-4 ">  
              <markdown [data]="markdownfuente">
              </markdown>
      </div>
    </div>
</div>
  <div class="grid grid-cols-1 md:grid-cols-[1fr_300px] gap-5 p-3 md:p-6">
    <div class="bg-white rounded-lg  p- dark:bg-gray-950">

      <editor style="z-index: -1;" apiKey="8phbkaeghasw787tkiaq6kczl3xuxk3uwy6u5nffz5hu3enb"
      [(ngModel)]="editorContent" [init]="{
           setup: setupEditor,
           height: 700,
            resize: false,
           menubar: true,
           
           base_url: '/assets/tinymce', 
           suffix: '.min',  
           plugins: 'pagebreak',
           pagebreak_split_block: true,
           pagebreak_separator: '<div style=\'page-break-after: always; border-bottom: 2px dashed #ccc; margin: 20px 0;\'></div>',
           content_style: '.mce-content-body { width: 21cm; min-height: 29.7cm; margin: 1cm auto; padding: 1cm; box-shadow: 0 0 5px rgba(0,0,0,.1); }',
           toolbar: 'pagebreak | undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
       }"></editor>

    </div>
    <div  class="bg-white rounded  p- bg-gray-950" 
    style="height: 700px; max-height: 700px; overflow-y: auto;" >
      <div  class="space-y-4">
        <div class=" rounded  bg-gray-100 p-2" >
          <h3 class="text-lg font-semibold mb-2">Propiedades del Proyecto</h3>
          <div class="flex justify-between    text-center">
            <p class="text-gray-700 dark:text-gray-400 text-sm">Plantilla utilizada:</p>
            <h4 class="text-sm text-gray-700">{{nombreplantilla}}</h4>
          </div>
          <div class="flex justify-between  text-center">
            <p class="text-gray-700 dark:text-gray-400 text-sm">N° Fuentes de conocimiento</p>
            <h4 class="text-gray-700">{{fuente.cantidad}}</h4>
          </div>
          <div class="flex justify-between     text-center">
            <p class="text-gray-700dark:text-gray-400 text-sm">Tamaño del documento</p>
            <h4 class="text-gray-700">{{datosProyecto.contenido.length}}</h4>

          </div>
          <div class="flex justify-between    text-center">
            <p class="text-gray-700 dark:text-gray-400 text-sm">Tamaño del conococimiento </p>
            <h4 class="text-gray-700">{{fuente.contenido.length}}</h4>

          </div>

        </div>
        <div>
          <h3 class="text-lg flex justify-between font-semibold mb-2">
            Referencias
          </h3>
          <div class="container" style="height: auto;  ">
            <div *ngFor="let refe of referencias" class="grid gap-2">
              <div class="flex items-center text-sm gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="w-5 h-5 text-primary">
                  <path
                    d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5">
                  </path>
                  <path d="M9 18h6"></path>
                  <path d="M10 22h4"></path>
                </svg>
                <div>
                  <h4 class="font-medium">{{refe.titulo}} || {{refe.anio}} </h4>
                  <p class="text-gray-500 dark:text-gray-400 text-sm">
                    {{refe.palabras_clave}}</p>
                  <a [href]="refe.enlace">ver</a>
                </div>
              </div>


            </div>
          </div>

        </div>
       
        <div *ngIf="referencias.length==0 && feedback.fortalezas.length==0 && 
        feedback.areasParaMejorar.length==0">
          <div class="bg-gray-100 dark:bg-gray-800 rounded-lg p-4 pt-2 text-sm text-gray-700 ">
        
            Para comenzar el análisis con gemini haga clic en el botón analizar para comenzar.
          </div>
        </div>
        
        <div *ngIf="feedback.areasParaMejorar.length != 0">
          <div class="bg-gray-100 dark:bg-gray-800 rounded-lg p-4 pt-2 space-y-2">
            <div>
              <h3 class="text-lg font-bold text-gray-900 dark:text-gray-50">Puntos fuertes</h3>
              <div class="container" style="font-size: 12px; height: auto; max-height: 150px; overflow-y: auto;" >
                <ul *ngFor="let fortaleza of feedback.fortalezas" class="list-disc pl-6 text-gray-600 dark:text-gray-400">
                  <li><strong>{{fortaleza.Aspecto}}:</strong> {{fortaleza.Descripcion}}</li>
                </ul>
              </div>
            </div>
            <div>
              <h3 class="text-lg font-bold text-gray-900 dark:text-gray-50 mb-2">Áreas de mejora</h3>
              <div class="container" style="font-size: 12px; height: auto; max-height: 150px; overflow-y: auto;">
                <ul *ngFor="let area of feedback.areasParaMejorar" class="list-disc pl-6 text-gray-600 dark:text-gray-400">
                  <li><strong>{{area.Aspecto}}:</strong> {{area.Descripcion}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div data-orientation="horizontal" role="none" class="shrink-0 bg-gray-100 h-[1px] w-full">

        </div>
        
        <div data-orientation="horizontal" role="none" class="shrink-0 bg-gray-100 h-[1px] w-full"></div>
        <div>
          <div class="flex gap-2 ">
          
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="grid grid-cols-2  gap-6 p-4 md:p-6 md:pt-0">
    <div class="bg-white  p-0 dark:bg-gray-950">      
      <app-feedback 
      (obtenerfeedback)="obtenerfeedback()" 
      [feedback]="markdownContent" 
      ></app-feedback> 
     
    </div>
    <div class="bg-white  p-0 dark:bg-gray-950">
   
      <app-grammar-review
       (obtenerAlternativas)="obtenerAlternativas()" 
       [alternativas]="alternativas" [original]="selectedText" ></app-grammar-review>
    </div>
  </div>



  <!-- <app-feedback></app-feedback> -->
</div>